

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #525151; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(41, 41, 41); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(41, 41, 41); 
}

.no-x{
    overflow-x: hidden;
}

.card{
  transition: background-color 0.5s ease;
}

.card:hover{
  transform: scale(1.02);
  /* background-color: rgb(73, 73, 73); */
  transition: transform 250ms;
}

.right{
    float: right;
}

.icon{
  width: 25px;
  height: 25px;
}

.image{
  width: 100%;
  height: 100%;
}

.me{
  width: 175px;
  height: 175px;
  border-radius: 50%;
}

.me-large{
  width: 300px;
  height: 300px;
  border-radius: 50%;
  
}

.large{
  font-size: 86px;
  
}

.low-level{
  background-color: rgb(255, 211, 182);
}

.mid-level{
  background-color: rgb(255, 248, 182);
}

.high-level{
  background-color: rgb(182, 255, 194);
}

.interest{
  background-color: rgb(209, 209, 209);
}

.space{
  margin-left: 5px;
  margin-right: 5px;
}

.pill{
  transition: background-color 0.2s ease;
}
.pill{
  border: none;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 32px;
  color: black;
}

.pill:hover{
  transform: scale(1.1);
  background-color: rgb(190, 255, 252);
  color:rgb(24, 24, 24)  !important;
  transition: transform 250ms;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(27, 27, 27);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.italics{
  font-style: italic;
}

.cursor{
  /* position: absolute; */
}

.center {
  margin-left: 14%;
}

.semi-muted{
  /* color:rgb(212, 212, 212); */
}

.fit{
  /* margin: 15px;
  margin-left: -15px; */
  
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.game-container:hover .image {
  opacity: 0.3;
}

.game-container:hover .middle {
  opacity: 1;
}

.break{
  line-height:35vh;
}
.shadow-text{
  /* text-shadow: 1px 1px 2px rgb(32, 32, 32); */
}

.shadow-shift{
  /* text-shadow: 7px 3px 0px rgb(32, 32, 32); */
}

body{
  background-image: url('./img/Untitlsed.png');
}

@media only screen and (max-width: 1000px) {
  .break {
    line-height:15vh;
  }
}
.semi-transparent {
  background-color: rgba(255, 255, 255, 0.8); /* White background with 80% opacity */
  transition: background-color 0.5s ease; /* Smooth transition for background color */
}

.semi-transparent:hover {
  background-color: rgba(255, 255, 255, 0.9); /* Slightly less transparent on hover */
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.6;
  padding: 20px;
}

.transparent-card {
  background-color: transparent;
}

@media (max-width: 950px) {
  .responsive-img {
    display: none;
  }
}

.txt-greeting {
  height: 200px;
}